OPENAI_API_KEY=
DATABASE_URL=mysql://user:password@localhost:3306/esgtech
DATABASE=esgtech
HOST=localhost
USER_NAME=user
PASSWORD=password
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_SECRET=use-the-same-secret-as-the-ESG-application

